_UpgradeReport_Files
UpgradeLog.XML
*.chm
_[Rr]e[Ss]harper.*
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.csproj.user
*.cache
*~
*.sql
*.swp
*.swo
artifacts
[Pp]roduct/docs/Help/*.*
[Pp]roduct/*/obj
[Pp]roduct/*/bin
[Pp]roduct/config/our_custom_config.txt
[Pp]roduct/config/log4net.config.xml
[Pp]roduct/config/hibernate.cfg.xml
[Pp]roduct/*.web.ui/Bin
[Pp]roduct/*.web.ui/*.xml
[Pp]roduct/*.web.ui/*.config
[Pp]roduct/*.web.ui/*.txt
*.dbmdl
*.orig
*.sln.DotSettings.user
